/* RESET */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
a{
    color: currentColor;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
/* THE UTILITIES */
.white-texts{
    color: white;
}

/* layout-header */
.main-header{
    background-color: #255EE9;
    padding:15px 90px;   
}
.layout-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-list{
    display: flex;
    gap: 30px;
}
.layout-button{
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}
/* main and section layout */
.container{
    max-width: 900px;
    margin: 0 auto; 
}
.main-bg{
   background-image: url(../img/jumbo.png);
   background-size: cover;
   background-position: center;
   padding: 60px;
 
}
.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: rgb(185, 174, 174);
}
.row{
    width: 500px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    
}
/* layout-hero */
.title{
    font-size: 40px;
}
.col-70{
    background-color: rgb(103, 130, 240);
    width: calc(100% / 3 * 2)
    
}
.col-30{
    background-color: pink;
    width: calc(100% / 3);
}
.col-40{
    width: 40%;
    background-color: rgb(219, 136, 164);
}
.col-15{
    width: 15%;
    background-color: rgb(39, 168, 132);
}

/* box_green */
.green{
    background-color: green;
}
.bg-black{
    background-color: black;
}

/* footer */
footer{
    background-color: black;
    padding:15px 90px;  
}
.layout-footer{
    background-color:  rgb(95, 223, 187);
    display: flex;
    justify-content: space-between;
}

/* debug-rules */
.debug .row{
    padding: 20px;
}
.debug .row > * {
    border: 2px dotted black;
    padding: 16px;
    min-height: 300px;
}
