/* RESET */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    font-family: "Poppins";
}
a{
    color: currentColor;
    text-decoration: none;
}
ul,li{
    list-style: none;
}

/* THE UTILITIES */
.white-texts{
    color: white;
}
.black-texts{
    color: black;
}
.access-button, .mac-download{
    background-color: white;
}
.title{
    font-size: 40px;
}

/* layout-header */
.main-header{
    background-color: #255EE9;
    padding:15px 90px;   
}
.layout-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-list{
    display: flex;
    gap: 30px;
}
.access-button{
    border-radius: 18px;
    padding: 8px;
}

/* main and section layout */
.container{
    max-width: 900px;
    margin: 0 auto; 
}
.row{
    width: 500px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;  
}
.small-container{
    width: 800px;
    height: 450px;
    display: flex;
    align-items: center;
   align-content: space-between;
}
.main-bg{
   background-image: url(../img/jumbo.png);
   background-size: cover;
   background-position: center;
   padding: 60px;
}
.explanation-sections-bg{
    background-color: white;
    padding: 20px;
}
.explanation-sections-bgrey{
    background-color: rgb(232, 223, 223);
    padding: 20px;
}
/*
img layout inside sections */
.item-img{
    max-width: 100%;
   
}

/* button for setting */
.mac-download, .open-browser{
    border-radius: 20px;
    padding: 12px;
}
.open-browser{
    background-color: black;
}

.bg-white{
    background-color: white;
}
.bg-grey{
    background-color: rgb(185, 174, 174);
}

.col-60{
    width: 60%;
    
}
.col-40{
    color: black;
    width: 40%;
}
.col-40{
    width: 40%;
}
.col-15{
    width: 15%;
    background-color: rgb(39, 168, 132);
}

/* box_green */
.green{
    background-color: green;
}
.bg-black{
    background-color: black;
}

/* footer */
footer{
    background-color: black;
    padding:15px 90px;  
}
.layout-footer{
    background-color:  rgb(95, 223, 187);
    display: flex;
    justify-content: space-between;
}

/* debug-rules */
.debug .row{
    padding: 20px;
}
.debug .row > * {
    border: 2px dotted black;
    padding: 16px;
    min-height: 300px;
}
